@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:hsl(218, 22%, 67%) ;
}
.Single-Price__Content {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    background-color: hsl(204, 43%, 93%);
    border-radius: 10px;
}
.join {
    background-color: white;
    padding: 40px 35px ;
    border-radius: 10px 10px 0px 0px ;
}
.join__title {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}
.join__subtitle {
    color: hsl(71, 73%, 54%);
    margin-bottom: 15px;
}
.join__text {
    color: hsl(218, 22%, 67%);
}
.join__text p{
    margin-bottom: 5px;
}
.under {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.monthly {
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    height: 100%;
    padding: 40px 35px ;
    border-radius: 0px 0px 0px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.monthly__title {
    font-size: 10px;
    color: hsl(204, 43%, 93%);
    margin-bottom: 15px;
}
.monthly__subtitle {
    font-size:30px;
    color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}
.monthly__subtitle span{
    font-size:16px;
    color: hsl(204, 43%, 93%);
    opacity: 0.7;
    margin-left: 15px;
}
.monthly__text {
    color: hsl(204, 43%, 93%);
    opacity: 0.8;
    margin-bottom: 20px;
    font-size:18px;
}
.monthly button{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.monthly button:hover{
    background-color:hsl(179, 62%, 43%) ;
}
.why-us {
    width: 50%;
    height: 100%;
    padding: 40px 35px;
    border-radius: 0px 0px 10px 0px ;
    background-color: hsl(179, 53%, 53%);
}

.why-us__title {
    color: hsl(204, 43%, 93%);
    font-size: 10px;
    margin-bottom: 20px;
}
.why-us__text p{
    height: max-content;
    line-height: 29px;
    color: hsl(204, 43%, 93%);
    opacity: 0.9;
}

@media (max-width:750px) {
    .Single-Price__Content{
        width: 90%;
    }
    .under {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    .monthly {
    border-radius: 0px 0px 0px 0px ;
}
.why-us {
    border-radius: 0px 0px 10px 10px ;
}
.join {
    border-radius: 10px 10px 0px 0px ;
    max-width: min-content;
}
}